@page "/klientai"

@inject DataAccessMySql _data
@inject IConfiguration _config
@inject NavigationManager NavigationManager

<h2>Klientų sąrašas</h2>
<br />
<button class="btn btn-primary" @onclick="Redirect">Sukurti naują įrašą</button>
<br />
<br />
@if (klientai == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-dark table-sm">
        <thead class>
            <th> TelNr </th>
            <th> Vardas </th>
            <th> Pavardė </th>
            <th> Gimimo data </th>
            <th> El. Paštas </th>
            <th> Alergijos </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
        @foreach (var p in klientai)
        {
            <tr>
                <td>@p.pk_TelNr</td>
                <td>@p.Vardas</td>
                <td>@p.Pavarde</td>
                <td>@p.GimimoData</td>
                <td>@p.ElPastas</td>
                <td>@p.Alergijos</td>
                <td><button class="btn btn-danger" @onclick="(() => Delete(p.pk_TelNr))">Ištrinti</button></td>
                <td><button class="btn btn-primary" @onclick="(() => RedirectEdit(p.pk_TelNr))">Redaguoti</button></td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    List<KlientasModel> klientai = new List<KlientasModel>();

    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from klientas";
        var dt = _data.Query(sql, _config.GetConnectionString("default"));
        foreach( DataRow item in dt)
        {
            klientai.Add(new KlientasModel
                {
                    pk_TelNr = Convert.ToString(item["TelNr"]),
                    Vardas = Convert.ToString(item["Vardas"]),
                    Pavarde = Convert.ToString(item["Pavardė"]),
                    GimimoData = Convert.ToString(item["gimimoData"]),
                    ElPastas = Convert.ToString(item["elPastas"]),
                    Alergijos = Convert.ToInt32(item["alergijos"])
                });
        }
    }

    private void Delete(string id)
    {
        string sql = "delete from `klientas` where TelNr=?id";
        DataAccessMySql.Delete(sql, _config.GetConnectionString("default"), args =>
        {
            args.Add("?id", MySqlDbType.VarChar).Value = id;
        });

        NavigationManager.NavigateTo("/klientai", true);
    }

    private void Redirect()
    {
        NavigationManager.NavigateTo("/klientai/create");
    }

    private void RedirectEdit(string id)
    {
        NavigationManager.NavigateTo($"/klientai/edit/{id}");
    }

}
