@page "/tatmeistrai"

@inject DataAccessMySql _data
@inject IConfiguration _config
@inject NavigationManager NavigationManager

<h2>Tattoo meistrai</h2>
<br />
<button class="btn btn-primary" @onclick="Redirect">Sukurti naują įrašą</button>
<br />
<br />
@if (tatmeistrai == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-dark table-sm">
        <thead class>
            <th> Telefono Nr. </th>
            <th> Vardas </th>
            <th> Pavardė </th>
            <th> Patirties metai </th>
            <th> Elektroninis Paštas </th>
            <th> Tattoo stilius </th>
            <th> Tattoo studijos Id </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
        @foreach (var p in tatmeistrai)
        {
            <tr>
                <td>@p.pk_TelNr</td>
                <td>@p.Vardas</td>
                <td>@p.Pavarde</td>
                <td>@p.PatirtiesMetai</td>
                <td>@p.ElPastas</td>
                <td>@p.TattooStilius</td>
                <td>@p.fk_TattooStudijaId</td>
                <td><button class="btn btn-danger" @onclick="(() => Delete(p.pk_TelNr))">Ištrinti</button></td>
                <td><button class="btn btn-primary" @onclick="RedirectEdit">Redaguoti</button></td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    List<TattooMeistrasModel> tatmeistrai = new List<TattooMeistrasModel>();


    protected override async Task OnInitializedAsync()
    {
        string sql = "select * from tatuiruočių_meistras";
        var dt = _data.Query(sql, _config.GetConnectionString("default"));
        foreach( DataRow item in dt)
        {
            tatmeistrai.Add(new TattooMeistrasModel
                {
                    pk_TelNr = Convert.ToString(item["telNr"]),
                    Vardas = Convert.ToString(item["Vardas"]),
                    Pavarde = Convert.ToString(item["Pavardė"]),
                    PatirtiesMetai = Convert.ToInt32(item["PatirtiesMetai"]),
                    ElPastas = Convert.ToString(item["elPastas"]),
                    TattooStilius = Convert.ToString(item["tattooStilius"]),
                    fk_TattooStudijaId = Convert.ToInt32(item["fk_TATTOO_STUDIJAid_TATTOO_STUDIJA"]),
                });
        }
    }

    private void Delete(string id)
    {
        string sql = "delete from `tatuiruočių_meistras` where telNr=?id";
        DataAccessMySql.Delete(sql, _config.GetConnectionString("default"), args =>
        {
            args.Add("?id", MySqlDbType.VarChar).Value = id;
        });

        NavigationManager.NavigateTo("/tatmeistrai", true);
    }

    private void Redirect()
    {
        NavigationManager.NavigateTo("/tatmeistrai/create");
    }

    private void RedirectEdit()
    {
        NavigationManager.NavigateTo("/tatmeistrai/edit");
    }

}
